DISCORD_BOT_TOKEN=adquirir_token_do_discord
GEMINI_API_KEY=api_do_gemini
GEMINI_API_KEY_2=segunda_api_do_gemini
OPENAI_API_KEY=api_da_openai
DEEPSEEK_API_KEY=api_do_deepseek
ANTHROPIC_API_KEY=api_da_anthropic
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_KEY=sua_anon_key_do_supabase
CONTEXTO_GRUPO=
